utils/src/test/resources/schemas/DataTypesCancer-v2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
           xmlns="https://genomicsengland.co.uk/xsd/cancer/2.0.0" targetNamespace="https://genomicsengland.co.uk/xsd/cancer/2.0.0"
           vc:minVersion="1.1">
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="schema-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CarePlansCancer"/>
            <xs:enumeration value="ConsentUpdatesCancer"/>
            <xs:enumeration value="DeathsCancer"/>
            <xs:enumeration value="DiagnosesCancer"/>
            <xs:enumeration value="DiseaseInformationUpdatesCancer"/>
            <xs:enumeration value="InterventionsCancer"/>
            <xs:enumeration value="InvestigationsCancer"/>
            <xs:enumeration value="ReferralsCancer"/>
            <xs:enumeration value="RegistrationAndConsentsCancer"/>
            <xs:enumeration value="RiskFactorAssessmentsCancer"/>
            <xs:enumeration value="WithdrawalsCancer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="schema-version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <p>The date that this file was generated</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="source-organisation">
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the source organisation within the GMC sending the message</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="source-system" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="local-report-id" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participant-identifiers-29330.2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="participant-id">
        <xs:annotation>
          <xs:documentation>
            <p>Participant Identifier (supplied by Genomics England)</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="date-of-birth" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s date of birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="nhs-number" type="nhsnumber-12817.1">
        <xs:annotation>
          <xs:documentation>
            <p>Validated NHS number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="chi-number" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>Scottish Community Health Index (CHI) number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="surname">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s surname</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="forenames">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s forenames</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="event-details-29940.2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="event-date" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            <p>Date of the clinical event or observation being reported e.g. date biopsy was taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="event-reference">
        <xs:annotation>
          <xs:documentation>
            <p>Unique identifier for local record of clinical event or observation</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-cancer-diagnoses-37037.1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="related-cancer-diagnosis-icd" type="primarydiagnosisicd-12981.1">
        <xs:annotation>
          <xs:documentation>
            <p>Cancer diagnoses that lead to or arise from the reported clinical event. More than one diagnosis can be provided for the same
              event.
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="related-cancer-diagnosis-snomedct" type="diagnosiscodesnomedct-35537.1">
        <xs:annotation>
          <xs:documentation>
            <p>Optionally, provide the related cancer diagnosis as Snomed CT code as well as the ICD code. Related Cancer Diagnosis is the diagnosis
              that lead to or arise from the reported clinical event. More than one diagnosis can be provided for the same event.
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType final="restriction" name="diagnosiscodesnomedct-35537.1">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="nhsnumber-12817.1">
    <xs:restriction base="xs:token">
      <xs:maxLength value="10"/>
      <xs:minLength value="10"/>
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="primarydiagnosisicd-12981.1">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="consent-15009.4">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="event-details" type="event-details-29940.2"/>
      <xs:element maxOccurs="20" minOccurs="1" name="consent-details" type="consent-details-14545.3"/>
      <xs:element maxOccurs="1" minOccurs="1" name="date-of-consent" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <p>Date consent taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="name-and-version-of-consent-form">
        <xs:annotation>
          <xs:documentation>
            <p>Name and Version of form used - list of names and versions available from genomicsengland.co.uk/library-and-resources/</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="consent-given" type="yesno-12551.3">
        <xs:annotation>
          <xs:documentation>
            <p>Yes no answer to consent given</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="consent-form" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>File name of uploaded PDF copy of consent form - requested format [ParticipantId]_consent_[TimeStamp].pdf</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="person-taking-consent">
        <xs:annotation>
          <xs:documentation>
            <p>The full name of the person taking consent</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="name-and-version-of-participant-information-sheet">
        <xs:annotation>
          <xs:documentation>
            <p>Name and Version of information sheet presented - list of names and versions available from
              genomicsengland.co.uk/library-and-resources/
            </p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consent-details-14545.3">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="consent-question">
        <xs:annotation>
          <xs:documentation>
            <p>A particular question on a consent form</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="consent-response" type="yesno-12551.3">
        <xs:annotation>
          <xs:documentation>
            <p>Yes or no response to a particular question on the consent form</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType final="restriction" name="yesno-12551.3">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="referral-29918.2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="event-details" type="event-details-29940.2"/>
      <xs:element maxOccurs="1" minOccurs="1" name="consultant-details" type="consultant-details-29919.2"/>
      <xs:element maxOccurs="1" minOccurs="1" name="date-first-seen" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <p>This is the date that the PATIENT is first seen in the Trust that receives the first referral.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="presentation" type="cancerpresentation-12844.2">
        <xs:annotation>
          <xs:documentation>
            <p>Symptoms presented, recorded against supplied enumerations (for example, breast cancer presentation may be: breast mass, altered breast
              appearance, axillary mass, other mass, or nipple discharge).
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultant-details-29919.2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="full-name-of-responsible-consultant">
        <xs:annotation>
          <xs:documentation>
            <p>Nominated person responsible for patients clinical care and recipient of clinical reports and communications for Genomics England</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="consultant-gmc-number" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>GMC number of consultant with responsibility for the patient&amp;apos;s clinical care</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="full-name-not-consultant" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>Full name of person entering data on behalf of consultant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="contact-number" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>Phone number for the consultant.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="hospital-of-responsible-consultant" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the hospital to which the consultant is contracted under their MAIN SPECIALTY for the purposes of the current work.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType final="restriction" name="cancerpresentation-12844.2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="abdominal_symptoms">
        <xs:annotation>
          <xs:appinfo>
            <display-text>abdominal_symptoms (Ovarian) (Colorectal)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="altered_breast_appearance">
        <xs:annotation>
          <xs:appinfo>
            <display-text>altered_breast_appearance (Breast)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="altered_bowel_habit">
        <xs:annotation>
          <xs:appinfo>
            <display-text>altered_bowel_habit (Colorectal)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nipple_discharge">
        <xs:annotation>
          <xs:appinfo>
            <display-text>nipple_discharge (Breast)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other_mass">
        <xs:annotation>
          <xs:appinfo>
            <display-text>other_mass (Breast)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="systematic_symptoms">
        <xs:annotation>
          <xs:appinfo>
            <display-text>systematic_symptoms (General)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="haematuria">
        <xs:annotation>
          <xs:appinfo>
            <display-text>haematuria (Prostate)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="abdominal_mass">
        <xs:annotation>
          <xs:appinfo>
            <display-text>abdominal_mass (Ovarian)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="axillary_mass">
        <xs:annotation>
          <xs:appinfo>
            <display-text>axillary_mass (Breast)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other_respiratory_symptoms">
        <xs:annotation>
          <xs:appinfo>
            <display-text>other_respiratory_symptoms (Lung)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="asymptomatic_incidental_findings">
        <xs:annotation>
          <xs:appinfo>
            <display-text>asymptomatic_incidental_findings (General)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="haemoptysis">
        <xs:annotation>
          <xs:appinfo>
            <display-text>haemoptysis (Lung)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="asymptomatic_screen_detected">
        <xs:annotation>
          <xs:appinfo>
            <display-text>asymptomatic_screen_detected (With Screening)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rectal_bleeding">
        <xs:annotation>
          <xs:appinfo>
            <display-text>rectal_bleeding (Colorectal)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="breast_mass">
        <xs:annotation>
          <xs:appinfo>
            <display-text>breast_mass (Breast)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prostatic_symptoms">
        <xs:annotation>
          <xs:appinfo>
            <display-text>prostatic_symptoms (Prostate)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="screening">
        <xs:annotation>
          <xs:appinfo>
            <display-text>screening</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="yesnounk-11161.2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="morphology-36548.1">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-icd">
        <xs:annotation>
          <xs:documentation>
            <p>The morphology code for the diagnosed cancer as defined by ICDO3. This can be recorded as well as or instead of MORPHOLOGY
              (SNOMED).
            </p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomedct">
        <xs:annotation>
          <xs:documentation>
            <p>The morphology code for the diagnosed cancer as defined by SnomedCT. This can be recorded as well as or instead of MORPHOLOGY
              (ICD).
            </p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="morphology-snomedrt">
        <xs:annotation>
          <xs:documentation>
            <p>The morphology code for the diagnosed cancer as defined by SnomedRT. This can be recorded as well as or instead of MORPHOLOGY
              (ICD).
            </p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="topography-36549.1">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-icd">
        <xs:annotation>
          <xs:documentation>
            <p>This is the topographical site of the tumour as categorised by ICD03</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomedct">
        <xs:annotation>
          <xs:documentation>
            <p>This is the topographical site of the tumour as categorised by Snomed CT</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="topography-snomedrt">
        <xs:annotation>
          <xs:documentation>
            <p>This is the topographical site of the tumour as categorised by Snomed RT</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="cancer-specific-grading-36550.1">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="gleason-grade" type="gleason-grade-36551.1"/>
      <xs:element maxOccurs="1" minOccurs="1" name="furhman-grade" type="furhmangradingsystem-33068.1">
        <xs:annotation>
          <xs:documentation>
            <p>Specific Grading for Renal Cancer . Furhman grade according to RCP guidance:
              https://www.rcpath.org/Resources/RCPath/Migrated%20Resources/Documents/G/G037FINAL_AdultrenaldatasetNov06.pdf
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="figo-grade" type="figograde-33064.1">
        <xs:annotation>
          <xs:documentation>
            <p>Specific Grading for Ovarian Cancer Figo Grade as per updated guidelines:
              http://www.rcpath.org/Resources/RCPath/Migrated%20Resources/Documents/C/CEU_FIGO1988vs2013ovarianstaging_Dec13.pdf
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="mmr-lynch-mutation-tumour-grade-gynaecology"
                  type="gynaecologymmrlynchmutationtumourgrade-33052.1">
        <xs:annotation>
          <xs:documentation>
            <p>Specific Grading for Ovarian Cancer</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="tumour-grade-lung" type="lungtumourgrade-33051.1">
        <xs:annotation>
          <xs:documentation>
            <p>Cancer Specific Grading for Lung adenocarcinoma: Types: lepidic acinar papillary solid micropapillary Ref: Travis WD et al. J Clin
              Oncol 2013: 31: 992-1001
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="invasive-grade-breast" type="breastinvasivetumourgrade-33049.1">
        <xs:annotation>
          <xs:documentation>
            <p>Specific Grading for Breast Cancer as defined by the modified Bloom–Richardson:
              https://www.rcpath.org/Resources/RCPath/Migrated%20Resources/Documents/P/PosterFinal.pdf The Bloom–Richardson grading system from
              1957[1] refers to a breast cancer classification system to grade breast cancers, and was the precursor of the present criteria,
              themodified Bloom–Richardson–Elston grading system (also called the Nottingham system.)[2][3]
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="dcis-grade" type="dcistumourgrade-33048.1">
        <xs:annotation>
          <xs:documentation>
            <p>DCIS based on nuclear grade Please see Ref: http://www.cancerscreening.nhs.uk/breastscreen/publications/nhsbsp58-low-resolution.pdf for
              further guidance
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="gleason-grade-36551.1">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="gleason-grade-primary" type="gleasongrade-33067.1">
        <xs:annotation>
          <xs:documentation>
            <p>What is the most extensive Gleason grade? Specific Grading for Prostate Cancer. Please see: Epstein JI et al Am J Surg Path 2005: 29:
              1228-42 Pierorazio PM et al. BJU Int 2013: 111: 753-60 for further guidance.
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="gleason-grade-secondary" type="gleasongrade-33067.1">
        <xs:annotation>
          <xs:documentation>
            <p>If additional grades are present, what is the highest grade (biopsy) or the second most extensive grade (TURP and radicals). If no
              additional grades are present, primary and secondary grades are the same. Specific Grading for Prostate Cancer. Please see: Epstein JI
              et al Am J Surg Path 2005: 29: 1228-42 Pierorazio PM et al. BJU Int 2013: 111: 753-60 for further guidance.
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType final="restriction" name="gleasongrade-33067.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade 6 or less</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade 3+4=7</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade 4+3=7</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade 4+4=8</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade 4+5 or above</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="dcistumourgrade-33048.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Low</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Intermediate">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Intermediate</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="High">
        <xs:annotation>
          <xs:appinfo>
            <display-text>High</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="figograde-33064.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>1</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>2</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>3</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="furhmangradingsystem-33068.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>1</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>2</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>3</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <display-text>4</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="gradeofdifferentiationpathological-13217.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="G4">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Undifferentiated / anaplastic</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Poorly differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Moderately differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Well differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GX">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Grade of differentiation is not appropriate or cannot be assessed</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="gynaecologymmrlynchmutationtumourgrade-33052.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undifferentiated">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Undifferentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Differentiated">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="lungtumourgrade-33051.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Moderately differentiated">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Moderately differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Poorly differentiated">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Poorly differentiated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="breastinvasivetumourgrade-33049.1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>1</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>2</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>3</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
